/* fonts */
@font-face {
	font-family: 'Pixel';
	src: url('font/Pixel-LCD-7.woff') format('woff');
}

html {
	font-size: 62.5%;
}

/* reset & common styles */
body, ul, h1, h2, h3, p, button, a, div{
  margin: 0;
  color: white;
  font-size: 1.6rem;
  font-family: 'Pixel';
  letter-spacing: 0.2rem;
  list-style-type: none;
  text-decoration: none;
  /* border: 0.1rem solid red;   */
  box-sizing: border-box;
}

body{
  background: rgb(193, 161, 211);
  background: radial-gradient(circle, rgb(193, 161, 211, 1) 0%, rgb(143, 81, 179,1) 100%);
  overflow: hidden;
}

button{
  color: white;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background: transparent;
  border-radius: 5rem;
  border: 0.1rem solid white;
  cursor: pointer;
  opacity: 0.7;
}