.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: rgb(143, 81, 179);
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.5);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.modal button {
  width: 80%;
}

.content {
  margin: 1rem auto;
  text-align: center;
  font-size: 2rem;
}

.content h1 {
  font-size: 3rem;
  margin: 2rem;

  letter-spacing: 1rem;
}

.content h2 {
  font-size: 2.5rem;
  margin:2rem;

}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
